
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:rgb(255,186,10);
    --second-color: #f5c488;
    --icons-hover:rgb(152, 162, 186);
    --icons:rgb(32, 33, 34);
    --black: rgb(32, 33, 34);
    --card: rgb(76, 77, 80);;
    --bg:white;
    --border:.1rem solid rgb(186,193,209);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* HEADER */

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
}

.header .logo img{
    height: 100px;
    width: 150px;
    margin-left: 50px;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 30px;
    color:var(--main-color);
}

.header .navbar a:hover{
    color:var(--second-color);
    border-bottom: 2px solid var(--second-color);
    padding-bottom: 8px;
    font-weight: bold;
}

.header .icons>a{
    color:var(--icons);
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;;
}

.header .icons a:hover{
    color:var(--icons-hover);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 90vw;
    height: 80px;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 24px;
    color:var(--black);
    padding:16px;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 34px;
    margin-right: 20px;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}


/* MAIN */

.main{
    margin-top: 160px;
}

.title{
    margin-top: 30px;
}

.heading--title{
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}


/* VueAccueuil */

.home{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../img/piano-home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -80px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
}

.home .content{
   margin-left: 40px;
   width: 40%;
}

.home .content h3{
    font-size: 60px;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 30px;
    font-weight: lighter;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#eee;
}

.home .content a{
    font-size: 20px;
    font-weight: lighter;
    line-height: 40px;
    margin-top: 40px;
    color:#eee;
    border: solid 1px white;
    padding: 8px;
}

.home .content a:hover{
    font-size: 22px;
    line-height: 40px;
    margin-top: 40px;
    color:var(--bg);
    background-color: var(--main-color);
    padding: 15px;
}


.article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
}

.article .box--container{
    justify-content: center;
    width: 300px;
    height: 415px;
    border: var(--border);
    border-radius: 5px;
    margin: 60px;
    padding: 10px;
    background-color: var(--card);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 27px 6px rgba(113, 108, 108, 0.46); 
    box-shadow: 0px 0px 20px 6px rgba(113, 108, 108, 0.46);
}

.article .box--container:hover{
    background-color: var(--icons);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 27px 6px rgba(113, 108, 108, 0.46); 
    box-shadow: 0px 0px 20px 6px rgba(113, 108, 108, 0.46);
}

.card-img-article{
    width: 150px;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.card-body{
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    text-align: center;
}

.card-body h3{
    color: var(--bg);
    margin-bottom: 15px;
}

.card-title, .price{
    font-family: 'Roboto', sans-serif;
    color: var(--bg);
}

.card-title, .price:hover{
    font-family: 'Roboto', sans-serif;
    color: var(--bg);
}

.price{
    margin-bottom: 15px;
    justify-content: center;
}

.card--icons .btn--card {
    font-size: 20px;
    color:var(--main-color);
    margin: 20px;
    font-size: 30px;
}

.btn--card:hover{
    color: var(--second-color);
    font-size: 22px;
}

/* vueArticle */

.article--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 150px;
  border: 1px solid var(--card);
  padding: 50px;
  margin-top: 120px;
  margin-left: 80px;
  margin-right: 80px;
  -webkit-box-shadow: 0px 0px 27px 6px rgba(113, 108, 108, 0.46); 
    box-shadow: 0px 0px 20px 6px rgba(113, 108, 108, 0.46);
}

.article--image {
  flex: 1 1 300px;
  width: 300px;
  height: 300px;
  margin-left: 100px;
}

.article--image img {
  max-width: 100%;
  width: 300px;
  height: 300px;
}

.article--info {
  flex: 1 1 300px;
  max-width: 100%;
  text-align: center;
  margin-left: -50px;
}

.article--title{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  margin-bottom: 40px;
  color: var(--card);
}

.article--desc{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
  color: var(--card);
}

.article--price{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--card);
}

.article--info>a{
    padding: 10px;
    font-size: 15px;
    color: (var(--card));
    border: 1px solid var(--card);
    border-radius: 4px;
}

.article--info>a:hover{
    font-size: 16px;
    color:var(--bg);
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}


/* VUE PANIER */

.empty--panier{
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty--panier>p{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

h1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

.panier--container--btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.panier--heading--btn{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.panier--heading--btn a{
    padding: 10px;
    font-size: 20px;
    color: (var(--card));
    border: 1px solid var(--card);
    border-radius: 4px;
}

.panier--heading--btn a:hover{
    font-size: 22px;
    color:var(--bg);
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.panier--heading--btn input{
    vertical-align: middle;
    padding: 10px;
    font-size: 20px;
    color: (var(--card));
    background-color: var(--bg);
    border: 1px solid var(--card);
    border-radius: 4px;
}

.panier--heading--btn input:hover{
    font-size: 22px;
    color:var(--bg);
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.home .content a:hover{
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 40px;
    color:var(--bg);
    background-color: var(--main-color);
    padding: 15px;
}


.table--panier {
    margin: 50px auto;
    width: 80%;
    border: 1px solid var(--card);
    padding: 50px;
    -webkit-box-shadow: 0px 0px 27px 6px rgba(113, 108, 108, 0.46); 
    box-shadow: 0px 0px 20px 6px rgba(113, 108, 108, 0.46);
}

tr{
    text-align: center;
    border-bottom: 1px solid var(--card);
}

td{
    padding: 10px;
    margin-bottom: 10px;
}

.panier--btn{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.panier--btn .plus{
    font-size: 30px;
    color: var(--icons);
    cursor: pointer;
    margin-right: 20px;
}

.panier--btn .moins{
    font-size: 30px;
    color: var(--icons);
    cursor: pointer;
}

.panier--btn .plus:hover{
    color: var(--main-color);
    font-size: 35px;
}

.panier--btn .moins:hover{
    color: var(--main-color);
    font-size: 35px;
}

.panier--total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 30%;
    border: 1px solid var(--card);
    padding: 50px;
    -webkit-box-shadow: 0px 0px 27px 6px rgba(113, 108, 108, 0.46); 
    box-shadow: 0px 0px 20px 6px rgba(113, 108, 108, 0.46);
}

.panier--total p{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.panier--total input{
    padding: 10px;
    font-size: 15px;
    color: (var(--card));
    border: 1px solid var(--card);
    border-radius: 4px;
}

.panier--total input:hover{
    font-size: 16px;
    color:var(--bg);
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

/* VUE LOGIN */

.form--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 27px 6px rgba(113, 108, 108, 0.46); 
    box-shadow: 0px 0px 20px 6px rgba(113, 108, 108, 0.46);
    font-family: 'Roboto', sans-serif;
}


.form--image{
    padding: 20px;
    margin-bottom: 30px;
}

.form--image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.form--label{
    margin-bottom: 10px;
}

.form--user, .form--pwd{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form--user{
    margin-bottom: 40px;
}

.form, input{
    width: 80%;
}

.form--user, input{
    width: 100%;
    height: 30px;
}

.form--pwd, input{
    width: 100%;
}

.form--pwd{
    margin-bottom: 30px;
}

.form--send{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: var(--main-color);
    color: var(--bg);
    font-size: 20px;
}

.form--send:hover{
    background-color: var(--second-color);
    font-size: 18px;
    cursor: pointer;
}

/* VUE BACKOFFICE */

.table--backoffice{
    margin: 50px auto;
    width: 80%;
    padding: 50px;
}

tr{
    text-align: center;
    border-bottom: 1px solid var(--card);
}

td{
    padding: 10px;
    margin-bottom: 20px;
}


/* FOOTER */

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    margin-top: 20px;
}

.footer .share a{
    height: 20px;
    width: 20px;
    font-size: 35px;
    color:#fff;
    margin: 30px;
}

.footer .share a:hover{
    color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 100px;
}

.footer .links a{
    padding:5px;
    color:#fff;
    font-size: 30px;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 20px;
    color:#fff;
    font-weight: lighter;
    padding:20px;
}

.footer .credit span{
    color:var(--main-color);
}



@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .article-container {
        flex-direction: column;
      }
      
      .article-image, .article-info {
        flex: 1 1 auto;
        max-width: 100%;
        margin-right: 0;
      }
}

  